<div class="container">
  <h1>Matchmaking Session: <%= @session_id %></h1>
  <p>Current player count: <%= @player_count %></p>
  <p>Waiting for more players... or if you feel like <.button phx-click="start_game" phx-disable-with="Starting...">start the game</.button></p>
</div>
