<div class="container">
  <div id="board_game" class="board" phx-hook="Play">
    <%= for row <- @grid do %>
      <div class="row">
        <%= for element <- row do %>
          <div class={"box box-#{element}"}></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
