<div class="container">
  <p>Game session: <%= :erlang.term_to_binary(@runner_pid) |> Base.encode64() %></p>
  <div class="board">
    <%= for row <- @grid do %>
      <div class="row">
        <%= for element <- row do %>
          <div class={"box box-#{element}"}></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
