*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    width: 50px;
    height: 50px;
}

.box-0{
    background-color: lightgrey;
}

.box-1{
    background-color: lightcoral;
}

.box-2{
    background-color: lightgreen;
}
