<div class="container">
  <h1> Current Matchmaking Sessions</h1>
  <%= if assigns[:game_session_ids] do %>
    <%= for session_id <- @game_session_ids do %>
      <div> <.link navigate={~p"/matchmaking/#{session_id}"}><%= session_id %></.link> </div>
    <% end %>
  <% else %>
    <p>Fetching matchmaking sessions...</p>
  <% end %>

  <.button phx-click="create_session" phx-disable-with="Creating...">Create new game</.button>
</div>
